
@{
    Layout = null;
}

<form>
    <div class="form-group">
        <label>Name</label>
        @Html.TextBox("Name", null, new { @class="form-control",@placeholder="name"})
    </div>
    
</form>