@model MicroManage.Models.Category

@using (Html.BeginForm("_Edit","Categories",FormMethod.Post, new { @id="EditForm"}))
{
    @Html.HiddenFor(m=>m.Id)

    <div class="form-group">
        <label>Name</label>
        @Html.TextBox("NameEdit",Model.Name, new { @class="form-control",@placeholder="name",@id="NameEdit" })
    </div>
}
