

<table class="table table-condensed table-responsive">
    <thead>
        <tr>
            <td>Name</td>
            <td>Available</td>
            <td>price</td>
            <td>Quantity</td>
        </tr>
    </thead>
    <tbody>
        <tr  ng-repeat="product in products">
            <td>{{product.Name}}</td>
            <td>{{product.WebAvailble}}</td>
            <td>{{product.Price}}</td>
            <td animate-On-Change="product.Count">{{product.Count}}</td>
        </tr>
    </tbody>
</table>
<style>
[animate-on-change] {
  transition: all 1s;
  -webkit-transition: all 1s;
}
[animate-on-change].changed {
    background-color: red;
    transition: none;
    -webkit-transition: none;
}
</style>

