@{
    Layout = null;
}

<form>
    <div class="form-group">
        <label>Name</label>        
        @Html.TextBox("Name", null, new { @class = "form-control", @placeholder = "name" })
    </div>
    <div class="form-group">
        <label>Category</label>
        <select id="CategorySelect" name="Category" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label>Price</label>
        @Html.TextBox("Price", null, new { @class = "form-control", @placeholder = "price", @type = "number" })
    </div>
    <div class="form-group">
        <label>Description</label>
        @Html.TextArea("Description", null, new { @class = "form-control", @placeholder = "description", @type = "text" })
    </div>
</form>
