@model List<MicroManage.Models.Product>
<table class="table table-condensed table-responsive">
    <thead>
        <tr>
            <td><strong>Name</strong></td>
            <td><strong>Category</strong></td>
            <td><strong>Action</strong></td>
        </tr>
    </thead>
    <tbody>
@if (Model != null)
{
        if (Model.Any())
        {
            foreach (var i in Model)
            {
                <tr>
                    <td>@i.Name</td>
                    <td>
                        @i.CategoryId
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-edit micro-icon" onclick="showEdit(@i.Id)" style="cursor:pointer;" title="Edit"></span>
                    </td>

                </tr>
            }
        }
        else
        {
            <tr>nothing</tr>
        }
}

    </tbody>

</table>
