
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Products</h2>
<button onclick="showCreate()" class="btn btn-primary">add</button>
<div id="list">
    @Html.Action("_List")
</div>


    <div class="modal fade" id="addProduct" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create New Product</h4>
                </div>
                <div id="create" class="modal-body">
                    @Html.Action("_Create")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="CreateProduct()">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="editProduct" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit Product</h4>
                </div>
                <div id="edit" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="editProduct()">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <script>
        var catList = [];
        
        function getCatName(id) {
            var name;
            $.each(catList, function (i, val) {
                if (val.Id == id) {
                    name = val.Name;
                    return false;
                }
            });
            return name;
        }

        function fetchCat() {
            //loop thorough
            $(".cat").each(function () {
                var catid = parseInt($(this).attr('mm'));
                $(this).text(getCatName(catid));
            });
        }

        function showCreate() {
            $("#addProduct").modal('show');
        }

        function CreateProduct() {
            var values = {
                name: $("#Name").val(),
                category: $("#CategorySelect").val(),
                description: $("#Description").val(),
                price: $("#Price").val()
            }
            $.ajax({
                url: "../../Products/_Create",
                type: "POST",
                data: values,
                success: function (result) {
                    if (result) {
                        //refresh list
                        $("#addProduct").modal('hide');
                        $("#list").load("../../Products/_List", function () {
                            fetchCat();
                        });
                        $("#Name").val('');
                        $("#Category").val('');
                    }
                }
            });
        }

        function showEdit(id) {
            $("#edit").load("../../Products/_Edit/" + id, function () {
                $("#editProduct").modal('show');
            });
        }

        function editProduct() {
            var values = {
                Id: $("#IdEdit").val(),
                Name: $("#NameEdit").val(),
                CategoryId: $("#CategoryEdit").val(),
                Price: $("#PriceEdit").val(),
                Description: $("#DescriptionEdit").val(),
            }

            $.ajax({
                url: "../../Products/_Edit",
                type: "POST",
                data: values,
                success: function () {
                    $("#edit").html('');
                    $("#editProduct").modal('hide');
                    $("#list").load("../../Products/_List", function () {
                        fetchCat();
                    });
                }
            });
        }

        $(function () {
            $.ajax({
                url: "../../Categories/GetList",
                type: "GET",
                success: function (result) {
                    catList = result;
                    
                    fetchCat();

                    //populate selectList
                    $.each(catList, function (i, val) {
                        $("#CategorySelect").append("<option value='" + val.Id + "'>" + val.Name + "</option>");
                    });
                }
            });
        });

    </script>
