body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.micro-icon{
    font-size:18px;
    margin-right:10px;
}
.navbar-inverse{
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background: -webkit-gradient(linear,left top,right bottom,color-stop(0%,#008fe2),color-stop(100%,#00b29c));
    background: -webkit-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background: -o-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background: -ms-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    /* background: linear-gradient(154deg,#008fe2 0,#00b29c 100%); */
}
.navbar-inverse .navbar-nav > li > a {
    color:white;
}
.navbar-inverse .navbar-brand {
    color:white;
}